<launch>
	<node name="stage" pkg="stage_ros" type="stageros"
	      args="$(find lab5)/world/playground.world" />	
	<arg name="goalx" default="4.5" />
	<arg name="goaly" default="9.0" />
	<param name="goalx" type="double" value="$(arg goalx)" /> 
	<param name="goaly" type="double" value="$(arg goaly)" />  
	<node name="astar" pkg="lab5" output="screen" type="astar.py" args="$(find lab5)/world/map.txt" />
</launch>
